dist: trusty
sudo: required
addons:
  chrome: stable
language: node_js
node_js:
  - 12

branches:
  only:
    - master

script:
  - npm run lint
  - npm run build:all
  - npm test
  - npm run build:prod

#deploy:
#  provider: pages
#  skip-cleanup: true
#  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
#  keep-history: true
#  local-dir: ./dist/styleguide
#  on:
#    branch: master
