@import '@a-ui/core/dist/assets/styles/quarks';

/* Need to be included in core branding */
body {
  display: flex;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
}

.u-main
main {
  &:focus {
    outline: none;
  }
}

#main-content > ng-component {
  width: 100%;
}

.p-antwerp-ui {
  flex: 1 1 auto;
  overflow: auto;
}

.a-pre.hljs {
  border: 1px solid $gray-100;
}

.m-button-group--inline {
  display: inline-flex;
}

.u-show-on-mobile {
  @include at($screen-sm) {
    display: none;
  }
}

.u-hide-on-mobile {
  @include to($screen-xs-max) {
    display: none;
  }
}

.u-hide-on-tablet {
  @include to($screen-sm-max) {
    display: none;
  }
}

pre {
  tab-size: 2;
}

.u-text-readable {
  max-width: 28rem;
}

.aui-footer {
  background: $gray-600;

  .u-container {
    padding-bottom: $spacer;
    padding-top: $spacer;
  }

  .a-list {
    list-style: none;
    padding-left: 0;

    a {
      --link-color: #{$white};
      --link-hover-color: var(--theme1-050);
    }
  }

  h3.h4 {
    color: $gray-100;
  }
}

.m-nav-tabs__layout {
  box-shadow: 0 -1px 0 $border-color inset;
}

.aui-code-snippet {
  display: block;
  overflow-x: auto;
}

.o-leaflet__wrapper {
  overflow: visible !important;
}

.o-leaflet__map:focus {
  box-shadow: 0 0 0 3px Highlight;
  box-shadow: 0 0 0 3px -webkit-focus-ring-color;
}

.p-fix-position {
  .o-header__logo {
    position: static;
  }
}

.u-datepicker {
  margin-bottom: 15rem;
}
