<aui-footer>
    <div auiFooterContent>
        <div class="u-container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">ACPaaS UI</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a href="https://github.com/digipolisantwerp/acpaas-ui_react" class="has-icon-right" target="_blank">React library<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://a-ui.github.io/core_branding_scss" class="has-icon-right" target="_blank">Core branding<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">ACPaaS</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a href="https://acpaas.digipolis.be/" class="has-icon-right" target="_blank">ACPaaS Portal<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://acpaas.digipolis.be/nl/support?product=acpaas-ui" class="has-icon-right" target="_blank">Support<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://acpaas.digipolis.be/nl/feature-request?product=acpaas-ui" class="has-icon-right" target="_blank">Feature request<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">Digitale Stad van Morgen</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a href="https://antwerpen.digipolis.be/nl/opdrachten" class="has-icon-right" target="_blank">Opdrachten<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://www.digipolis.be" class="has-icon-right" target="_blank">Digipolis<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://onstage.digipolis.be" class="has-icon-right" target="_blank">Stages<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <p class="u-margin-bottom">Een project van Digipolis &amp; de Groep Stad Antwerpen</p>
                    <ul class="m-button-list m-button-list--horizontal">
                        <li><a href="https://www.facebook.com/Digipolis" target="_blank" class="a-button a-button--facebook has-icon"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Dgplsantwerpen" target="_blank" class="a-button a-button--twitter has-icon"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/digipolis" target="_blank" class="a-button a-button--linkedin has-icon"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/digipolis_antwerpen" target="_blank" class="a-button a-button--instagram has-icon"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div auiFooterBottom>
        <aui-subfooter>
            <aui-copyright domain="Digipolis"></aui-copyright>
        </aui-subfooter>
    </div>
</aui-footer>
