<aui-hero class="aui-hero">
    <div auiHeroCard>
        <div class="aui-hero-inner">
            <h1 class="h4">ACPaaS UI</h1>
        </div>
    </div>
    <div auiHeroCta>
        <ul class="m-nav-tabs center-tabs">
            <li routerLinkActive="is-active"><a routerLink="/ui-components"><span class="fa fa-cube"></span>UI Components</a></li>
            <li routerLinkActive="is-active"><a routerLink="/docs"><span class="fa fa-book"></span>How-to guide</a></li>
        </ul>
    </div>
</aui-hero>

<div class="u-container u-margin-bottom-lg u-margin-top-lg u-text-center">
	<h1 class="h3 u-margin-top-lg u-margin-bottom">Pagina niet gevonden!</h1>
</div>
