@use '@a-ui/core/src/styles/quarks' as *;
@use '../styles.scss';

.u-main,
main {
  display: flex;
  flex-direction: column;

  @include at($screen-sm) {
    flex-direction: row;
  }
}

.u-main-menu {
  @include to($screen-xs-max) {
    border-bottom: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
    height: 50vh;
    overflow: auto;
  }

  @include at($screen-sm) {
    border-right: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
    flex: 0 1 320px
  }
}
