:host {
    display: inline-block;
    vertical-align: top;
}

.m-items-per-page {
    .a-input {
        .a-input__wrapper {
            display: inline-block;
            margin-right: .5rem;

            // select {
            //     padding-right: 1.25rem;
            //     padding-left: .75rem;
            // }
            //
            // .fa {
            //     width: 1.25rem;
            // }
        }
    }
}
