:host {
    display: block;
}

.aui-header {
    transition: transform .25s ease-in-out;
    will-change: transform;

    &.header--pinned {
        top: 0;
    }

    &.header--unpinned {
        transform: translateY(-100%);
    }

    &.has-logo.header--unpinned {
        transform: translateY(-300%);
    }

    .aui-header__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;
    }

    .aui-header__content {
        flex: 1;
        height: 100%;
    }

    .aui-header__menu-items {
        display: flex;
        justify-content: flex-end;
    }
}
