<aui-header>
    <div auiHeaderContent>
        <div auiHeaderLogo class="o-header__wrapper">
            <aui-logo title="ACPaaS UI" src="/assets/digipolis-logo.svg"></aui-logo>
            <a class="u-hide-on-tablet o-header__link" [routerLink]="['/']">ACPaaS UI</a>
            <span class="u-show-on-mobile">
                <button (click)="pane.togglePane()" class="a-button a-button--navigation has-icon">
                    <i class="fa fa-bars"><span class="u-screen-reader-only">Show menu</span></i>
                </button>
            </span>
        </div>
    </div>

    <div auiHeaderMenuItem>
        <a [routerLink]="['/ui-components']" [routerLinkActive]="['is-active']" class="a-button a-button--navigation u-hide-on-mobile">
            <span>UI components</span>
        </a>
    </div>
    <div auiHeaderMenuItem>
        <a [routerLink]="['/docs']" [routerLinkActive]="['is-active']" class="a-button a-button--navigation u-hide-on-mobile">
            <span>How-to guide</span>
        </a>
    </div>

    <div auiHeaderMenuItem>
        <a [routerLink]="['/contact']" [routerLinkActive]="['is-active']" class="a-button a-button--navigation u-hide-on-mobile">
            <span>Contact</span>
        </a>
    </div>
</aui-header>

<aui-pane #pane [side]="'left'" [opened]="false" [backdrop]="true" class="t-pane">
    <ul class="m-nav-list">
        <li [routerLinkActive]="['is-active']">
            <a (click)="pane.closePane()" [routerLink]="['/home']">
                <span>Home</span>
            </a>
        </li>
        <li [routerLinkActive]="['is-active']">
            <a (click)="pane.closePane()" [routerLink]="['/ui-components']">
                <span>UI components</span>
            </a>
        </li>
        <li [routerLinkActive]="['is-active']">
            <a (click)="pane.closePane()" [routerLink]="['/docs']">
                <span>How-to guide</span>
            </a>
        </li>
        <li [routerLinkActive]="['is-active']">
            <a (click)="pane.closePane()" [routerLink]="['/contact']">
                <span>Contact</span>
            </a>
        </li>
    </ul>
    <p class="u-margin-lg"><button class="a-button a-button--small" (click)="pane.togglePane()">Hide menu</button></p>
</aui-pane>

<main>
    <router-outlet></router-outlet>
</main>

<aui-footer>
    <div auiFooterContent>
        <div class="u-container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">ACPaaS UI</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a routerLink="/ui-components">Components</a></li>
                        <li><a routerLink="/docs">Guidelines</a></li>
                        <li><a href="https://a-ui.github.io/core_branding_scss" class="has-icon-right" target="_blank">Core branding<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">ACPaaS</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a href="https://acpaas.digipolis.be/" class="has-icon-right" target="_blank">ACPaaS Portal<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://acpaas.digipolis.be/nl/support?product=acpaas-ui" class="has-icon-right" target="_blank">Support<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://acpaas.digipolis.be/nl/feature-request?product=acpaas-ui" class="has-icon-right" target="_blank">Feature request<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <h3 class="h5">Digitale Stad van Morgen</h3>
                    <ul class="a-list a-list--unstyled">
                        <li><a href="https://antwerpen.digipolis.be/nl/opdrachten" class="has-icon-right" target="_blank">Opdrachten<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://www.digipolis.be" class="has-icon-right" target="_blank">Digipolis<i class="fa fa-external-link"></i></a></li>
                        <li><a href="https://onstage.digipolis.be" class="has-icon-right" target="_blank">Stages<i class="fa fa-external-link"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 u-margin-bottom-xs u-margin-top-xs">
                    <p class="u-margin-bottom">Een project van Digipolis &amp; de Groep Stad Antwerpen</p>
                    <ul class="m-button-list m-button-list--horizontal">
                        <li><a href="https://www.facebook.com/Digipolis" target="_blank" class="a-button a-button--facebook has-icon"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Dgplsantwerpen" target="_blank" class="a-button a-button--twitter has-icon"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/digipolis" target="_blank" class="a-button a-button--linkedin has-icon"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/digipolis_antwerpen" target="_blank" class="a-button a-button--instagram has-icon"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div auiFooterBottom>
        <aui-subfooter>
            <aui-copyright domain="Digipolis"></aui-copyright>
        </aui-subfooter>
    </div>
</aui-footer>
