@import '@a-ui/core/dist/assets/styles/quarks';

.o-hero {
  background-color: $brand-primary;
  height: auto;
  padding: $spacer;

  div {
    padding-left: $spacer-md;
  }
}

.u-margin-top-xxs {
  margin-top: calc(#{$spacer-xs} / 3);
}
