@use '@a-ui/core/src/styles/quarks' as *;

.o-hero {
  background-color: var(--BRAND-1);
  color: var(--BRAND-1-CONTRAST);
  height: auto;
  min-height: calc(var(--SPACER) * 3);
  padding-left: var(--SPACER);

  div {
    padding-left: var(--SPACER-L);
  }
}

.u-margin-top-xxs {
  margin-top: var(--SPACER-3XS);
}
