@import '~@a-ui/core/dist/assets/styles/quarks';
@import '~@a-ui/acpaas/dist/assets/styles/quarks/quarks.variables';

.o-hero {
    background-color: $brand-tertiary;
    height: 10rem;
}

.u-margin-top-xxs {
	margin-top: $spacer-xs / 3;
}
